<% layout('layouts/boilerplate') -%>
    <form action="/campgrounds/" method="post">
        <div>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name = "campground[title]"><br>
        </div>
        <div>
            <label for="location">Location</label><br>
            <input type="text" id="location" name = "campground[location]"> <br>
        </div>
        <button> Add campground </button>
    </form>