<% layout('layouts/boilerplate') -%>
    <h1>Edit campground</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="post">
        <div>
            <label for="title">Edit title</label>
            <input type="text" id="title" name = "campground[title]" value="<%=campground.title %>"><br>
        </div>
        <div>
            <label for="location">Edit location</label>
            <input type="text" id="location" name = "campground[location]" value="<%=campground.location %>"<br>
        </div>
        <button>Update campground</button>
    </form>
    <p><a href='/campgrounds/<%=campground._id%>'>Back to campground</a></p>
